<header>
    <% include ./partials/_header %>
</header>

<p> <%= shortURL %> : <%= longURL %> </p>

<form action="/urls/<%= shortURL %>" method="POST">
  <label for="longURL">Edit: </label>
  <input id="longURL" type="text" name="longURL" style="width: 100px">
  <input type="submit" value="Submit">
  <button><a href="/urls">OK</a></button>
</form>
<p><%= count %></p>
<button><a href="/u/<%= shortURL %>"> Go to site </a></button>
